.btn, .btn:active
{
    width: 100% !important;
    border: 0px !important;
}

.btn-primary
{
    background-color: #59C9A5 !important;
}

.btn-danger
{
    background-color: #DA594A !important;
}

.toast
{
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #59C9A5 !important;
    border: 0px !important;
    color: #fff !important;
}