.cards-container
{
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.card-buttons
{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.card-body
{
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.card
{
    height: 200px;
    width: 200px;
}

.add-card
{
    align-items: center;
    justify-content: center;
}

.card:hover
{
    background-color:#e6e6e6;
    cursor: pointer;
}
